[DEFAULT]
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

[sshd]
enabled = {{ 'true' if fail2ban_sshd_enabled else 'false' }}
port = ssh
logpath = %(sshd_log)s
backend = systemd
