# Managed by Ansible

Include /etc/ssh/sshd_config.d/*.conf

Port 22
Protocol 2
PermitRootLogin {{ 'no' if ssh_disable_root_login else 'prohibit-password' }}
PasswordAuthentication {{ 'no' if ssh_disable_password_auth else 'yes' }}
PubkeyAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
